@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

body{
    background-color: #06111e;
}
.container{
    width: 500px;
    margin: 100px auto;
}

.heading{
    height:65px;
    background-color:#081626;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.todo{
    font-size: 40px;
    padding-top: 10px;
    margin: 0px 0px 0px 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color:white;
}

input{
    height: 40px;
    width: 422px;
    margin: 20px 10px 10px 18px;  
    padding-left: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-size:17px;
    border: none;
    border-radius:6px;
    
}

.input{
    display: flex;
    background-color: #142130;
}

/* Body content */
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 18px 0px 18px;
    border-top:1px solid gray;
    font-family: "Source Sans Pro", sans-serif;
    /* border-radius: 6px; */
}
.body{
    background-color:#142130;
    /* border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px; */
}

.body :hover {
    color: #535ef3;
    /* #D1D1D1; */
    cursor: pointer;
}
.label {
    padding:11px 0px 11px 10px;
    color:white;
    font-weight: bold;
    font-size:20px;
}

.left{
    display: flex;
    margin:10px 18px 0px auto;
}

.fav, .trash{
    border: 1px solid white;
    margin-right: 4px;
    margin-top: 4px;
    height: 30px;
    width: 30px;
    padding: 2px 7px;
}

.fa{
    color:#FBF8F1;
}
.fa-trash{
    margin-left: 1px;  
}

.pagination{
    margin-top: 10px;
}




